extends layout

block content
  h1= title
  p Welcome to #{title}
  form(method='post' url='/places/submit')
    input(type='number') 1st co
    input(type='number') 2nd co
    input(type='number') 1st co
    input(type='number') 2nd co